python-dotenv
streamlit
sentence-transformers
langchain==0.3.25
langchain-core==0.3.86
langchain-community==0.3.25
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-groq
